.el-card {
  .footer-button {
    float: right;
  }
}
.filter-item {
  display: inline-block;
  vertical-align: middle;
}

.el-dialog__body {
  overflow: auto;
}

.dialog-main-tree {
  max-height: 400px;
  overflow-y: auto;
}

.el-table th.el-table__cell {
  word-break: break-word;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fafafa;
}

.avue-crud__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 40px;
  height: auto;
  overflow: hidden;
  margin-bottom: 5px;
}

.demo-table-expand {
  font-size: 0;
}

.demo-table-expand label {
  width: 70px;
  color: #99a9bf;
}

.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.demo-table-expand span {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}

.form-button {
  float: right;
}
